.task2-wrapper{
    height: 125vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.button{
  margin: 10px 10px 10px 10px;
  padding: 5px ;
  font-family: "Bitter",serif;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
}